<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<section class="contact-section">
    <div class="contact-container">
        <h1 class="animated-heading">Contact Us</h1>
        <p class="intro-text">We’d love to hear from you! Reach out for any questions or support.</p>

        <div class="contact-info">
            <div class="contact-item">
                <h3>Email Us</h3>
                <p><a href="mailto:info@spinbook.com">aryanawasthi138&#64;gmail.com</a></p>
            </div>
            <div class="contact-item">
                <h3>Call Us</h3>
                <p><a href="tel:+15551234567">+91 9770517850</a></p>
            </div>
            <div class="contact-item">
                <h3>Visit Us</h3>
                <p>Shivpuri Club, Infront of Govt. Hospital, 473551(M.P)</p>
            </div>
            <div class="social-media">
                <h2 class="social-heading">Follow Us On:</h2>
                <div class="social-icons">
                    <a href="https://www.instagram.com/aryan_awasthi3571?igsh=eW5ndHcxbzRsYWJv" target="_blank"
                        class="social-icon" title="Follow us on Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://wa.me/15551234567" target="_blank" class="social-icon"
                        title="Chat with us on WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="https://www.snapchat.com/add/aryan_8576?share_id=n5TvNGms7K0&locale=en-US" target="_blank"
                        class="social-icon" title="Follow us on Facebook">
                        <i class="fab fa-snapchat"></i>
                    </a>
                    <a href="https://x.com/Aryanawasthi138?t=wQdmEE85MJuzxBPYrQ02fg&s=09" target="_blank"
                        class="social-icon" title="Follow us on Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/aryanawasthi138?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                        target="_blank" class="social-icon" title="Follow us on Twitter">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>