<div class="about-section py-5 text-center">
    <div class="container">
        <h1 class="display-4 text-white font-weight-bold animated-heading">About 
            <span class="text-warning">
                <span class="spin-text">Spin</span><span class="book-text">Book</span>
            </span>
        </h1>
        <p class="lead text-light fadeIn">Your ultimate Table Tennis slot booking solution.</p>
    </div>

    <div class="container mt-5">
        <div class="row about-content">
            <div class="col-md-4 mb-3">
                <div class="card feature-card">
                    <div class="card-body">
                        <h5 class="card-title">Seamless Booking</h5>
                        <p class="card-text">SpinBook provides a seamless slot booking experience, allowing users to reserve their preferred table tennis slots with ease.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card feature-card">
                    <div class="card-body">
                        <h5 class="card-title">User-Friendly Design</h5>
                        <p class="card-text">The application is designed with simplicity in mind, making it easy for all users to navigate and book their slots.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card feature-card">
                    <div class="card-body">
                        <h5 class="card-title">Secure Payments</h5>
                        <p class="card-text">SpinBook offers a secure payment system, giving users peace of mind while booking their slots.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container image-gallery mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <img src="assets/images (3).jpeg" alt="TT_Court" class="img-fluid about-img">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <img src="assets/ttbat.jpeg" alt="TT_Table" class="img-fluid about-img">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <img src="assets/abhayprashal.jpeg" alt="TT_Court" class="img-fluid about-img">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <img src="assets/images (1).jpeg" alt="TT_Court" class="img-fluid about-img">
            </div>
        </div>
    </div>
</div>